=form_for([blog_post, blog_post.comments.build]) do |f|
  -if @comment and @comment.errors.any?
    .alert.alert-error{ id: 'error_explanation' }
      %button.close{ 'type'=>'button', 'data-dismiss'=>'alert' }
        &times;
      %span The following errors prevented this comment from being saved:
      %ul
        -@comment.errors.full_messages.each do |msg|
          %li= msg

  =f.hidden_field :commentable_id
  =f.hidden_field :commentable_type
  .input-append
    =f.text_area :content, 
        id:          "appendedInputButton",
        class:       "comment-field",
        rows:        "3", 
        placeholder: "Enter your comment",
        autofocus:   true
    %button.btn.btn.mini{ id: "add-comment-#{blog_post.id}" }
      %i.icon-bullhorn
