!!! 5
%html{ lang: 'en' }
  %head
    %title Teh Brog
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %button.bth.btn-navbar{ type: :button, "data-toggle" => :collapse, "data-target" => ".nav-collapse" }
            %icon-bar
            %icon-bar
            %icon-bar
          =link_to "Teh Brog", root_path, class: "brand"
          %div.nav-collapse.collapse.pull-right
            %ul.nav
              %li
                =link_to content_tag( :i, "", class: 'icon-pencil') + " Home", root_path
              %li
                =link_to content_tag( :i, "", class: 'icon-quote-left') + " Articles", blog_posts_path

    #wrap   
      %div.container
        .alert{ style: 'display:none' }
          %div#alert-message
      
        = yield
        #push